<p-toast></p-toast>
<div class="topbar">
    <div class="padded p-d-flex p-jc-center p-text-center">
    <i style = "font-size: 1.75rem;"class="p-mr-2 pi pi-apple"></i>
        <div class="p-mr-2">Peter's Movie Store</div>
    </div>
</div>
<h4 *ngIf="devMode==false" style="font-size: 1.75rem; margin: 30px">Welcome!</h4>
<h4 *ngIf="devMode==true" style="font-size: 1.75rem; margin: 30px">Welcome, BOSS! B)</h4>
<div *ngIf="devMode==false" class="card">
    <h2 style="font-size: 1.25rem;">List of products:</h2>
    <p-table [value]="movies">
        <ng-template pTemplate="header">
            <tr>
                <th>
                     ID
                </th>
                <th>
                     Title <i class="pi pi-video"></i>
                </th>
                <th>
                     Released <i class="pi pi-calendar"></i>
                </th>
                <th>
                     Ranking <i class="pi pi-sort-numeric-up"></i>
                </th>
                <th>
                     Genre <i class="pi pi-heart"></i>
                </th>
                <th>
                     Price
                     <i class="pi pi-dollar"></i>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template id="moviesTable"  pTemplate="body" let-movie let-idx="$implicit">
            <tr>
                <td>{{movie.ID}}</td>
                <td>{{movie.Title}}</td>
                <td>{{movie.Date}}</td>
                <td>{{movie.Ranking}}</td>
                <td>{{movie.Genre}}</td>
                <td>{{movie.Price}}</td>
                <td>
                    <button pButton type="button" label="Buy" icon="pi pi-shopping-cart" 
                    class="p-button-success"
                    (click)="purchase(idx)"
                    ></button> 
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div *ngIf="devMode==true" class="card">
    <h2 style="font-size: 1.25rem;">List of orders:</h2>
    <p-table id="orderTable" [value]="orders">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Order Date <i class="pi pi-calendar"></i>
                </th> 
                <th>
                     Movie ID <i class="pi pi-video"></i>
                </th>
                <th>
                     Netto <i class="pi pi-money-bill"></i>
                </th>
                <th>
                     Discount <i class="pi pi-star"></i>
                </th>
                <th>
                     Brutto <i class="pi pi-dollar"></i>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-test="$implicit">
            <tr>
                <td>
                    {{order.ID}}
                </td>
                <td>
                    <input type="text" [(ngModel)]="order.Date" pInputText>
                </td> 
                <td>
                    <input type="text" [(ngModel)]="order.MovieID" pInputText>
                </td>
                <td>
                    <input type="text" [(ngModel)]="order.Net" pInputText>
                </td>
                <td>
                    <input type="text" [(ngModel)]="order.Discount" pInputText>

                </td>
                <td>
                    <input type="text" [placeholder]="order.Gross" [(ngModel)]="order.Gross" pInputText>
                </td>
                <td>
                    <button pButton type="button" (click)="update(test)" label="Update" icon="pi pi-save" class="p-button-success"></button>
                </td>
                <td>
                    <button pButton type="button" (click)="delete(test)" label="Delete" icon="pi pi-times" class="p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p></p>
    <button pButton type="button" label="Go back to User Mode" icon="pi pi-check" 
    class="p-button-rounded p-button-success"
    (click)="devModeSwap()"
    ></button> 
</div>

<div *ngIf="devMode==false" class="p-d-flex p-jc-between">
    <div class="p-mr-2 card" style="width: 70%">
        <h2 style="font-size: 1.25rem;">Filter results</h2>
        <div class="p-field p-grid">
            <label for=title-filter class="p-col-fixed" style="width: 100px; ">Title:</label>
            <div class="p-col">
                <span class="p-float-label">
                    <input id="title-filter" type="text" pInputText> 
                    <label for="title-filter">Title contains...</label>
                </span>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for=from-filter class="p-col-fixed" style="width: 100px; ">Date:</label>
            <div class="p-col p-d-flex">
                <span class="p-mr-2 p-float-label">
                    <p-calendar [(ngModel)]="dateFrom" dateFormat="yy-mm-dd" inputId="from-filter"></p-calendar>
                    <label for="from-filter">Date from...</label>
                </span>
                <span class="p-mr-2 p-float-label">
                    <p-calendar [(ngModel)]="dateTo" dateFormat="yy-mm-dd" inputId="to-filter"></p-calendar>
                    <label for="to-filter">... to</label>
                </span>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for=rank-filter class="p-col-fixed" style="width: 100px; ">Ranking:</label>
            <div class="p-col">
                <span class="p-float-label">
                    <input id="rank-filter" type="number" pInputText> 
                    <label for="rank-filter">Minimal</label>
                </span>
            </div>
        </div>
        <p>Genre:</p>
        <div class="p-d-flex p-flex-wrap">
            <p-radioButton class="p-mr-2" name="selectedGenre" value="All" label="All" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Horror" label="Horror" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Romance" label="Romance" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Gastronomy" label="Gastronomy" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Comedy" label="Comedy" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Thriller" label="Thriller" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Educational" label="Educational" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Family" label="Family" [(ngModel)]="selectedGenre"></p-radioButton>
            <p-radioButton class="p-mr-2" name="selectedGenre" value="Documentary" label="Documentary" [(ngModel)]="selectedGenre"></p-radioButton>
        
        </div> 
        <p> </p>

        <div class="p-d-flex">
            <button pButton type="button" label="Clear" (click)="getAllMovies()" icon="pi pi-times" class="p-mr-2 p-button-danger"></button>
            <button pButton type="button" label="Apply changes" (click)="applyFilters()" icon="pi pi-check" class="p-mr-2 p-button-success"></button>
        </div>
    </div>
    
    <div class="p-mr-2 card" style="width: 15%;">
        <h2 style="font-size: 1.25rem;">Are you an Admin?</h2>
        <p>Activate developer mode here:</p>
        <button pButton type="button" icon="pi pi-check" 
        class="p-button-raised p-button-rounded p-button-outlined p-button-success"
        (click)="devModeSwap()"
        ></button>
    </div>
</div>

