.topbar{
    width: 100%;
    height: 10%;
    background-color: black;
    color: goldenrod;
    font-size: 1.75rem;
}


.card{
    margin: 2%;
    align-items: center;
    background-color: white;
    box-shadow: 20px black;
    padding: 1%;
}
.padded{
    padding: 1%;
}